<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406513639583-sqhdoig4017maaq3kv1lmi40ebqhe9bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406513639583-sqhdoig4017maaq3kv1lmi40ebqhe9bc</string>
	<key>API_KEY</key>
	<string>AIzaSyA5eyW1_O3z5LMzVTxhrtc7D0HN2j1pP_s</string>
	<key>GCM_SENDER_ID</key>
	<string>406513639583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asliddin.coder.Uber</string>
	<key>PROJECT_ID</key>
	<string>dfsfds-67b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>dfsfds-67b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406513639583:ios:731acc3855d9477409c2aa</string>
	<key>DATABASE_URL</key>
	<string>https://dfsfds-67b2d.firebaseio.com</string>
</dict>
</plist>